enum Chouce

<div id="rsp">
  <ng-container *ngIf="!rspResult">
    <h3>please make your selection</h3>
    <button (click)="submitChoice(Choice.ROCK)">ROCK</button>
    <button (click)="submitChoice(Choice.SCISSOR)">SCISSOR</button>
    <button (click)="submitChoice(Choice.PAPER)">PAPER</button>
    <button (click)="submitChoice(Choice.WELL)">WELL</button>
  </ng-container>
  <ng-container *ngIf="rspResult">
    <h3>{{ computeResultHeadline() }}</h3>
      <ul>
        <li>Your choice was {{ rspResult.userChoice }}</li>
        <li>Computer's choice was {{ rspResult.computerChoice }}</li>
      </ul>
    <button (click)="resetSubmit()">TRY ANOTHER ROUND</button>
  </ng-container>
</div>
